.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 79px 70px 20px;
}

.footer__sign {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    margin: 0;
    width: 100%;
}

.footer__sign::after {
    content: "";
    height: 1px;
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
    margin-top: 20px;
}

.footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-bottom__year {
    
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.footer-bottom-link {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-bottom-link__item {
    font-size: 13px;
    line-height: 16px;
    color: #000000; 
    text-decoration: none;
    position: relative;
    
}

.footer-bottom-link__item:after {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: width 0.3s ease-out;
    
}

.footer-bottom-link__item:hover:after {
   width: 100%;
cursor: pointer;
}

.footer-bottom-link__item:visited::after{
    height: 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .footer {
        padding: 79px 30px 20px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 79px 10px 10px;
}
}
    


 @media screen and (max-width: 320px) {
    .footer__sign {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 21px;
    }
}

 @media screen and (max-width: 767px) {
    .footer-bottom {
        flex-direction: column-reverse;
        justify-content: space-between;
        padding-top: 30px;
    }
}

 @media screen and (max-width: 320px) {
    .footer-bottom__year {
        font-size: 12px;
        line-height: 15px;
        color: #A0A0A0;
    }
}

 @media screen and (max-width: 767px) {
    .footer-bottom-link {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 30px;
        align-items: center;   
    }
}

@media screen and (max-width: 769px) {
    .footer-bottom-link__item {
        width: min-content;
    }
}

 @media screen and (max-width: 320px) {
    .footer-bottom-link__item {
        font-size: 12px;
        line-height: 15px;
    }
}