.about {
    padding: 110px 70px;
    background-color:  #FFFFFF;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 110px;
    margin-top: 70px;
}

.description-work {
   display: flex;
   flex-direction: column;
   max-width: 550px;

}

.description-time {
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

.description-work__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    text-align: start;

}

.description-work__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    text-align: start;
}

.description-time__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    text-align: start;

}

.description-time__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    text-align: start;
}

.timetable {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.timetable-backend {
   width: 228px;
    
}
.timetable-backend__week {
   background-color: #000000;
   text-align: center; 
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #FFFFFF;
   padding: 9px 14px;
   margin: 0;
   border: 1px solid #000000;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.timetable-frontend {
    width: calc(100% - 228px);
     
 }

.timetable-backend__sign {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0; 
    margin-top: 14px;
}

.timetable-frontend__week {
    background-color: #F2F2F2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding: 9px 14px;
    margin: 0;
 }
 
 .timetable-frontend__sign {
     font-family: 'Inter';
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     text-align: center;
     color: #A0A0A0; 
     margin-top: 14px;
 }

