.portfolio {
   margin-top: 101px; 
}
.portfolio__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    text-align: start; 
    margin: 0 0 50px; 
}

.link-conntainer {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-container:first-child {
    padding-top: 0;
}

.link-container:last-child {
    border-bottom: 0px;
}

.link-container__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 19px;
    border-bottom: 1px solid #E8E8E8;
    
}

.link-container__item-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    max-width: 880px;
    margin: 0;
}

.link-container__item-link {
    max-width: 29px;
    display: flex;
    align-items: center;
    

}

.link-container__item-link-img {
    object-fit: cover;
}





