.profile {
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
    padding: 0 70px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile__welcome {   
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    margin-top: 74px;
}

.user-profile__box {
    display: flex;
    flex-direction: column;
    margin-top: 123px;
    width: 410px;
}

.name-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px; 
    border-bottom: 1px solid #E8E8E8;
}

.name-item__description-text {
    max-width: 141px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.name-item__user-data-text {
    max-width: 122px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
}

.email-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 17px;
}

.email-item__description-text {
    max-width: 141px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.email-item__user-data-text {
    max-width: 122px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
}

.user-profile__button {
    max-width: 410px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    border: none;
    background-color: transparent;
    padding: 0;
}

.user-profile__button_type_edit {
    margin-top: 220px;
}

.user-profile__button_type_exit {
    color: #FF4062;
    margin-top: 16px;
    
}

@media screen and (max-width: 768px) {
    .profile {
        padding: 0 30px;
    }

}

@media screen and (max-width: 768px) {
    .user-profile__welcome {   
        margin-top: 236px;
    }
}

@media screen and (max-width: 768px) {
    .user-profile__box {
        margin-top: 96px;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .user-profile__button_type_edit {
        margin-top: 210px;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        padding: 0 14px;
    }
}

@media screen and (max-width: 320px) {
    .user-profile__welcome {   
        margin-top: 70px;
    }
}

@media screen and (max-width: 320px) {
    .user-profile__box {
        margin-top: 80px;
    }
}

@media screen and (max-width: 320px) {
    .name-item__description-text {
        max-width: 130px;
    }
}

@media screen and (max-width: 320px) {
    .name-item__user-data-text {
        max-width: 120px;
    }
}

@media screen and (max-width: 320px) {
    .email-item__user-data-text {
        max-width: 120px;
    }
}

@media screen and (max-width: 320px) {
    .email-item__description-text {
        max-width: 130px;
    }
}

@media screen and (max-width: 320px) {
    .user-profile__button_type_edit {
        margin-top: 379px;
    }
}

@media screen and (max-width: 320px) {
    .user-profile__button {
        font-size: 12px;
        line-height: 15px;
    }
}